<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rowland.movies">

    <!-- ANDROID PERMISSIONS -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ApplicationController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.Dark">
        <service
            android:name=".rest.services.MovieIntentService"
            android:exported="false" />

        <service
            android:name=".rest.services.ReviewIntentService"
            android:exported="false" />

        <service
            android:name=".rest.services.TrailerIntentService"
            android:exported="false" />

        <meta-data
            android:name="AA_DB_NAME"
            android:value="popmovies.db" />

        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />

        <meta-data
            android:name="AA_MODELS"
            android:value="com.rowland.movies.rest.models.Movie, com.rowland.movies.rest.models.Review, com.rowland.movies.rest.models.Trailer" />

        <activity
            android:name=".ui.activities.MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.SearchActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_search"
            android:parentActivityName=".ui.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rowland.movies.ui.activities.MainActivity" />
        </activity>

        <activity
            android:name=".ui.activities.DetailActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName=".ui.activities.MainActivity"
            android:theme="@style/AppTheme.Dark">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rowland.movies.ui.activities.MainActivity" />
        </activity>
    </application>

</manifest>
